/*!***************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \***************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap);
/*!*******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss (1) ***!
  \*******************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.ceac9064ab6e54dd58dd62b4c3dcf324a {
  background: url(https://anflash.com/images/background-group6.png) repeat-y;
  background-size: 50% auto;
  width: 100%;
  height: 100vh;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left {
  width: 50%;
  color: #fff;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left .left-content {
  padding-right: 50px;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left .left-content a {
  color: #fff;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left .left-content .left-title {
  margin: 60px 0 30px;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left .left-content .left-title a {
  font-size: 18px;
  font-weight: 700;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left .left-content .left-title .day {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #fff;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left .left-content h3 {
  margin-bottom: 30px;
  font-size: 20px;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .left .left-content .description {
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #5a5a5a;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item {
  padding: 0px 0 0px 110px;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item .title {
  font-weight: 600;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item .day {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #535353;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item h3 {
  margin: 10px 0;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item .title, .ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item h3 a {
  color: #5a5a5a;
  transition: color 0.15s ease;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item .title:hover, .ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item h3 a:hover {
  color: #f9d37d;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item .description {
  margin-bottom: 10px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .right-item .see-more {
  color: #f9d37d;
  font-weight: 600;
  margin-top: 10px;
  display: block;
}
.ceac9064ab6e54dd58dd62b4c3dcf324a .container .right .btn-see-more {
  display: block;
  margin-left: 110px;
  padding: 20px 50px;
  background: #f9d37d;
  font-size: 18px;
  font-weight: 600;
  color: #5a5a5a;
}
