@import 'bootstrap/dist/css/bootstrap.min.css';


.no-background{
    background-image: none !important;
}

.pos-relative{
    position: relative;
}

.bg-blue{
    background-color: #36516f;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.overflow-x-clip{
    overflow-x: clip;
}

.overflow-y{
    overflow-y: visible;
}

.ce9f468bbc8d7493f89918363550455db{
    // Write your code 
    $bg-color: #36516f;
    $text-default: #fff;
    $text-black: #333;
    $text-hover: #f9d37d;
    $bg-button: #f9d37d;
    // background-color: black;
    padding-block: 40px;

    .bg-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .img-cover{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        align-items: center;
    }
    &__left,&__right{
        flex:1;
    }
    &__right{
        display: flex;
        justify-content: center;
        $min-size: 333px;
        iframe{
            min-width: $min-size;
            min-height: $min-size;
            width: 33.33vh;
            height: 33.33vh;
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 36px;
        text-align: justify;
        color: $text-default;
        z-index: 999;
        h2{
            padding-bottom: 20px;
            margin-bottom: 0;
        }
        p{
            font-size: 16px;
        }

    }
    &__items{
        margin-bottom: 20px;
    }

    &__item{
        display: block;
        font-size: 14px;
        text-decoration: none;
        color: $text-default;
        transition: 0.2s;
        i{
            margin-right: 4px;
        }
    }
    &__button{
        width: max-content;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $bg-button;
        font-size: 12px;
        font-weight: 500;
        color: $text-black;
        border-radius: 4px;
        padding: 10px 15px;
        transition: 0.2s;
    }

    .z-999{
        z-index: 999;
    }

    .text-black{
        color: $text-black;
    }

    .design-image{
        transform: translate(40%,40%);
    }

    .hover{
        &:hover{
            color: $text-hover !important;
        }
    }

    .hover-white:hover{
        color: white !important;
    }

    .overflow-bottom{
        transform: translateY(95px);
    }

    .my-45{
        margin-top: 45px;
        margin-bottom: -45px;
    }

    .z-1{
        z-index: 1;
    }

    .media-iframe{
        width: 100%;
        height: 516px;
    }

    @media screen and (max-width: 1630px) {
        .design-image{
            transform: translate(30%,40%);
        }
    }

    @media screen and (min-width: 1400px) {
        .container,.container-lg{
            max-width: 1170px;
        }
    }

    @media screen and (max-width: 1199px) {
        .order-first{
            order:1;
        }
        .design-image{
            transform: translate(-4%,40%);
        }
        &__wrapper{
            grid-template-columns: 100%;
            grid-row-gap: 30px;
        }
        &__right{
            margin-top: 30px;
            transform: translateY(80px);
            iframe{
                width: 100%;
            }
        }
    }
    // Write your code here
}
